.about.container
  .about__main
    .row    
      .about__item.col-md-4
        .about__img
          .icon_01
        .about__text
          p 
            strong Diet Secrets
            | — кафе органической кухни, в котором все блюда готовятся из полезных, фермерских продуктов.
      .about__item.col-md-4
        .about__img
          .icon_02
        .about__text
          p 
            | Мы сделали пиццу, бургеры, пасту и десерты — традиционно калорийные блюда 
            strong диетическими.
      .about__item.col-md-4
        .about__img
          .icon_03
        .about__text
          p Нашу пиццу можно есть с удовольствием на диете!

  hr  
  .about__photo.row.justify-content-center
    .title
      h2 
        | Совмещаем 
        strong приятное с полезным 
      h2 
        | и это касается не только блюд:

    .gall-wrapper
      img(src="images/shar_1.png", class="gall-back")
      //- img(src="images/gall.jpg" class="gall-img") 

      #carouselExampleControls.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='images/gall.jpg' alt='First slide')
          .carousel-item
            img.d-block.w-100(src='images/shx.jpg' alt='Second slide')
          .carousel-item
            img.d-block.w-100(src='images/shx_1.jpg' alt='Third slide')
          .carousel-item
            img.d-block.w-100(src='images/shx_2.jpg' alt='Third slide')
        a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

    
  .about__description.row
    .about__text.col-md-4
      hr
      p
        strong Дизайнерский ЭКО-интерьер
        | кафе располагает к приятному времяпровождению в кругу семьи или друзей

    .about__text.col-md-4
      hr
      p 
        | Зал достаточно вместительный, чтобы разместить большое количество гостей и 
        strong выполнен из экологичных материалов, 
        | которые гармонично сочетаются с современными формами

    .about__text.col-md-4
      hr
      p 
        | Дополнительно он быстро 
        strong трансформируется
        | для проведения небольших торжеств в узком кругу


