.footer
  .footer__docs
    a.footer__item(href='/') PRIVACY POLICY
    a.footer__item(href='/') ABOUT US
    a.footer__item(href='/') SUPPORT
  .footer__social
    a.footer__ico.footer__ico--fb(href='/')
    a.footer__ico.footer__ico--in(href='/')
    a.footer__ico.footer__ico--tw(href='/')
  .footer__copy Copright © 1999 - 2019
