.footer
  .footer__1
    .container 
      .row
        .col-md-6
          p
            | Приготовление еды для меня - это хобби, которое выросло в бизнес. Мое инженерное прошлое позволило мне системно выстроить свое дело.
          p
            | Я сильно интересовался правильным питанием и был сильно удивлен, что для многих людей это вареная куриная грудка каждый день. Мне хотелось большего разнообразия блюд и вкусов. Это вдохновило меня на создание органического меню, которое теперь радует гостей Diet Secrets!
          p
            | Руководитель сети Diet Secrets
          h3
            | Сергей Масленников

        .col-md-6
  .footer__2
    .container 
      .row
        .col-md-6
          h1
            | Проверьте всё 
          h1 
            strong лично!
          .footwrapper
            .krug
            p
              | Головной офис организует экскурсию в действующее кафе и знакомство со всей командой Diet Secrets в Ижевске
          .footwrapper
            .krug
            p
              | Вы сможете своими глазами убедиться в работоспособности нашей бизнес-модели!

        .col-md-6
          .cont
            p.vajno
              | Важно!
            p
              strong Приезжайте на экскурсию!

            p 
              | И мы компенсируем 
              strong 20 000 рублей 
              | при покупке франшизы

            button ПОДРОБНЕЕ
      .row.padding-top-100
        form(class="col" action="")
          h3
            | Этот бизнес позволит зарабатывать вам от 
            span 100 000 рублей в месяц!
          p
            | Хотите так же? Звоните или оставляйте заявку и мы вам всё подробно расскажем!
          .inputbox
            input(type="text" placeholder="Иван Иванович")
            input(type="text" placeholder="dietsecrets@ya.ru") 
            input(type="text" placeholder="+7(999)999-99-99") 
          button оставьте завку

      .row.ft
        .col-md-6.ft_left
          p
            | Юридическое лицо
          p
            | Политика конфиденциальности
        .col-md-6.ft_right
          p
            | г. Ижевск, ул. Пушкинска, 198
          p
            | 89508199277
        .footer_date 2019 (C)          