.franch
  .container
    h1.title Стать владельцем успешного кафе органической кухни не сложно, просто выберите подходщий формат

    .row
      .col-md-6
        img(src="./images/logo.png", alt="")
        img(src="./images/logo_2.png", alt="")
        h5 Кафе органической кухни с возможностью заказать еду домой или купить ланч-бокс в формате "To"

        .frchdiv
          .span 
          p 
            strong Требования к помещению: 
            | 50кв.м - организация производственного цеха
        .frchdiv
          .span 
          p 
            strong Паушальный взнос: 
            | 150 тысяч рублей
        .frchdiv
          .span 
          p 
            strong Роялти: 
            | 4% + 15 тысяч рублей маркетинговый сбор
        .frchdiv
          .span 
          p 
            strong Инвестиции 
            | (без паушального взноса): 950 тысяч рублей
      .col-md-6
        img(src="./images/logo.png", alt="")
        img(src="./images/logo_1.png", alt="")
        h5 Сервис по доставке органической кухни (пицца, паста, бургеры, ланчи)

        .frchdiv
          .span 
          p 
            strong Требования к помещению: 
            | 100-200 кв.м, 50 кв.м, 50+ зал дл гостей
        .frchdiv
          .span 
          p 
            strong Паушальный взнос: 
            | 250-300 тысяч рублей
        .frchdiv
          .span 
          p 
            strong Роялти: 
            | 4% + 15 тысяч рублей маркетинговый сбор
        .frchdiv
          .span 
          p 
            strong Инвестиции 
            | (без паушального взноса): 2.2 млн. рублей

    .footer

.strax
  .container
    h1 
      strong Основной страх 
    h1 при покупке франшизы

    .row.padding-top-70
      .col-md-6
        .wrapperstrax
          .straaxbox
            | X
          h2 
            strong Я не справлюсь

        .straxdiv_text
          p 
            | К каждому партнеру прикрепляется 
            strong куратор, 
            | который помогает выстроить бизнес от разработки дизайн-проекта, до обслуживания клиентов
        
        .straxdiv_text
          p 
            | Мы будем помогать вам делать каждый шаг в освоении бизнес-модели 
            strong Diet Secrets
        .straxdiv_text
          p
            strong Ошибиться не получится, 
            | куратор вовремя подскажет, как действовать в сложившейся ситуации
      .col-md-6.strax_img
        

.pomes
  .container
    h1 Выберем помещение 
    h1
      strong вместе!

    .row.padding-top-70
      .col-md-6
        .povdiv
          .pomkrug
          img(class="pomimg" src="./images/pom_1.png", alt="")
          p 
            | Чем лучше выбрано место, тем больше клиентов сможет посетить кафе. Поэтому мы относимся к подбору помещения крайне трепетно.
        .povdiv
          .pomkrug
          img(class="pomimg" src="./images/pom_2.png", alt="")
          p 
            | Каждый вариант оценится головным офисом по 
            strong  30 критериям, 
            | прежде чем он будет утвержден.
        .povdiv
          .pomkrug
          img(class="pomimg" src="./images/pom_3.png", alt="")
          p 
            | Учтем не только проходимость, но и логистику, чтобы оптимизировать сервис доставки.                
      .col-md-6
        img(class="pomesruch" src="./images/strax_1.png", alt="")

.sayavk
  .container
    .row
      .col-md-6
        .sayavk_box
          p Целых 2 недели обучения прямо в действующем кафе сети!
          p Изучим все аспекты работы в ресторанном бизнесе от стартовых документов, до обслуживания гостей, чтобы вы были готовы развивать свое собственное заведение.
      .col-md-6
        .sayavdiv
          h1 оставьте завку
          p чтобы получить подробный план
          input(type="")
          button получить

.dietsecrets
  img(class="leftimg" src="./images/dietsecrets_5.png", alt="")
  .container
    h1 
      | О 
      strong Diet Secrets 
    h1 узнают все!
    .row.padding-top-70
      .col-md-6
        p 
          strong Грамотный маркетинг 
          | в интернете — основа нашего бизнеса.
        p 
          strong Большинство 
          | людей ищет кафе через интернет. 
        p 
          |  Они используют разные сервисы: 
          strong поисковики, карты, сайты отзывов, службы доставки 
          | и др. Ориентируются на лидеров мнений, которые часто дают советы в социальных сетях.
        p 
          |  Мы отработали систему привлечения клиентов из интернета и научились делать это 
          strong стабильно!
      .col-md-6
        .dietdiv
          .dietbox
            img(class="okimg" src="./images/ok.png", alt="")
            p 
              |  Возьмем интернет-маркетинг на себя и будем рады применять все знания для заполнения вашего зала
          
          img(class="rightimg" src="./images/dietsecrets_6.png", alt="")
 
