.header
  .container
    .header__navbar
      .navbar
        .navbar__logo
          img(class='navbar__img' src='images/logo.png')

        .navbar__menu
          ul.menu
            li.menu__item
              img(src="images/vk.png")
            li.menu__item
              img(src="images/inst.png")
            li.menu__item
                button.btn.btn-default.orbutton(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@getbootstrap') Заказать звонок
    
                #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                  .modal-dialog(role='document')
                    .modal-content
                      .modal-header
                        h5#exampleModalLabel.modal-title Закажите звонок
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      .modal-body
                        form
                          .form-group
                            label.col-form-label(for='recipient-name') Ваше имя:
                            input#recipient-name.form-control(type='text')
                          .form-group
                            label.col-form-label(for='message-text') Ваш телефон:
                            input#message-text.form-control
                      .modal-footer
                        button.btn.btn-primary.orbutton(type='button') Заказать звонок

  .container
    .row
      .col-md-6
        .header__title  
          h1
            | Франшиза
          .header__organic
            h1
              | Органической
          h1
            | Кухни

        .header__subtitle
          h5
            | Мы делаем полезную еду - вкусной
        .header__box
          .box_row
            .box_circle
            .box_text 
              p 
                | Кафе + Доставка
          .box_row.box_row--center
            .box_circle.box_circle--center
            .box_text 
              p 
                |  Чистая прибыль
              p
                | от 100000 рублей
          .box_row
            .box_circle
            .box_text 
              p 
                |  Пицца, бургеры и десерты, 
              p  
                | которые не вредят фигуре
