.menu-section
  .container
    h3.title Меню Diet Secrets

    .row
      .col-md-3
        .menu__img.icon_04
        button  Пицца
      .col-md-3
        .menu__img.icon_05
        button  Бургеры
      .col-md-3
        .menu__img.icon_06
        button  Паста
      .col-md-3
        .menu__img.icon_07
        button  Десерты

    .subtitle
      img(src="./images/noun.png", alt="")
      h5 Исключительно из фермерских продуктов
      img(src="./images/noun.png", alt="")

    .menu__components
      h2  Без сахара, без жиров, без дрожжей

    h3 Комплексные 
    h3.title-bold органические ланчы

    .wrapper
      .row
        .col-md-6
          p У каждого комплекса своё предназначение 
          p с точным расчётом калорийности и БЖУ. 
          img(src="images/menuwr1.png", alt="")

        .col-md-6
          p Разработаны совместно с 
          p профессиональным диетологом
          img(src="images/menuwr2.png", alt="")

    button.menu-button Посмотреть меню

.true
  img(class="true_img_1" src="./images/true_1.png", alt="")
  img(class="true_img_2" src="./images/shar_1.png", alt="")
  img(class="true_img_3" src="./images/true_1.png", alt="")

  .container
    .title-box
      p 
        | Правильное питание - 
        strong тренд 2019 года 

    .title-box 
      p 
        | Всё больше людей 
      p
        strong следит за своим здоровьем 
        | и хочет питаться только полезной едой, приготовленной из фермерских продуктов 
        strong без использования 
      p
        strong ГМО

    .row 
      .col-md-6
        .wr-1
          .row
            .col-md-8
              p Diet Secrets стоит на пороге становления новой, трендовой ниши. 
            .col-md-4
              .rak
                img(src="./images/rak.png", alt="")
      .col-md-6
        .wr-1
          .row
            .col-md-8
              p Посмотрите вокруг, даже среди ваших знакомых всё больше ЗОЖников!
            .col-md-4
              .fam
                img(src="./images/fam.png", alt="")


.dostavka
  img(class="dost_car" src="./images/dostavka_car.png", alt="")
  .container
    .title-box 
      p
        strong Diet Secrets доставка 
        | позволяет нашим клиентам питаться органической едой в любой части города, что приносит нам дополнительный заработок

    .row.row-dost
      .col-md-3
        
      .col-md-3
        p Работаем со всеми популярными каналами организации продажи "Доставки еды".
      .col-md-6.netbox
        .row
          .soc.soc-1.col
            p Сайт
            .soc-img
              img(src="./images/1.png", alt="")
          .soc.soc-3.col
            p Соц. сети
            .soc-img
              img(src="./images/3.png", alt="")
        .row
          .soc.soc-2.col
            p яндекс.еда
            .soc-img
              img(src="./images/2.png", alt="")
          .soc.soc-4.col
            p Delivery Club
            .soc-img
              img(src="./images/4.png", alt="")