@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  font-style: normal;
  src: local('PT Sans Regular'), local('PtSans-Regular'), url('../fonts/PT_Sans-Web-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), local('Roboto-Thin'), url('../fonts/Roboto-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto-Black'), local('Roboto-Black'), url('../fonts/Roboto-Black.ttf') format('ttf');
}