.about {
  .about__photo {
    .gall-wrapper {
      position: relative;
      width: 80%;

      .gall-back {
        position: absolute;
        top: -50px;
        right: -50px;
        width: 300px;
        height: 300px;
        
        @media screen and (max-width: 768px) {
          display: none;
        }
      }     

      .gall-img {
        position: relative;
        padding: 60px;
      }      
    }
    .title {
      text-align: center;
      font-weight: normal;
      padding-bottom: 50px;
      // font-family: Roboto-Regular, Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;

      h2 {
        font-weight: normal;

        font-size: 40px;
        letter-spacing: 1px;
        color: #2c2c2c;
        //font-family: "Roboto";
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .about__main {
    padding: 75px 0;
    .row {
      .about__item {
        .about__img {
          background-color: #ffb55e;
          border-radius: 50%;
          width: 75px;
          height: 75px;
          margin: 0 auto;
  
          div {
            margin: 0 auto;
          }
        }
  
        .about__text {
          padding: 25px 20px;
          text-align: center;
          // font-family: Roboto-Regular, Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;

          p {
            //max-width: 200px;
            margin: 0 auto;

            font-size: 25px;
            letter-spacing: 1px;
            color: #2c2c2c;
            //font-family: "Roboto";
            text-align: center;
          }
        }
      }
    }
  }

  .about__description {
    .about__text {
      padding: 20px 20px;
      span {
        padding: 20px 0;
        font-weight: bold;
      }
      p {
        display: inline;

        font-size: 25px;
      }
      hr {
        width: 50%;
        border: none;
        height: 2px;
        background-color: #ffb55e;
        color: #ffb55e;
        margin: 10px 0;
      }
    }
  }
}