$padding-size: 20px;
$marker-height: 40px;
$box-color:#f6f6f6;

$pfont: 25px;
$h3font: 35px;
$h1font: 45px;

.footer {
  color: #ffffff;

  .footer__1 {
    background: url('../images/footer_1.jpg') 100% 100% no-repeat;
    background-size: cover;
    background-position: left;
    padding: 75px 0;

    .container {
      .row {
        .col-md-6 {
          p {
            margin: 20px 0;
            font-size: $pfont;
          }

          .rukov {
            margin: 0;
            margin-top: 40px;
          }
          p, h3 {
            margin-top: 0;
            padding-top: 0;
          }

          h3 {
            font-size: $h3font;
          }
        }
       }
    }
  }

  .footer__2 {
    background: url('../images/footer_2.jpg') 100% 100% no-repeat;
    background-size: cover;
    background-position: left;

    hr {
      border: 1px solid #6d6d6d;
      margin-top: 50px;
    }

    .container {
      .padding-top-100 {
        padding-top: 100px;
      }
      .row {
        .col-md-6 {

          h1 {
            font-size: $h1font;
          }
          .footwrapper {
            display: flex;
            padding-top: 30px;
            .krug {
              border-radius: 50%;
              width: 7px;
              height: 7px;
              padding: 6px;
              background-color: #ffb55e;
              border: 3px solid white;
              margin: 1em 1em 1em 0;
            }
            p {
              font-size: $pfont;
            }
          }
          
          .cont {
            background-color: $box-color;
            padding: $padding-size;
            position: relative;
            color: #000000;
            text-align: center;
            border-radius: 0 0 10px 10px;
            max-width: 300px;
            margin: 0 auto;

            @media screen and (max-width: 768px) {
              margin: 75px auto;
            }

            p {
              max-width: 180px;
              margin: 10px auto;
            }

            .pblock {
              p {
                margin:0 auto;
              }
            }
            .vajno {
              display: inline-block;
              border-radius: 30px;
              padding: 10px 20px;
              border: 1px solid grey;
            }
            .orbutton {
              background-color: #ffb55e;
              border: 0;
              padding: 15px 20px;
              border-radius: 30px;
              // font-family: Roboto-Regular, AdobeInvisFont, MyriadPro-Regular;
              color: #161616;
              text-align: left;
              margin-top: 30px;
              text-align: center;
              width: 90%;


              box-shadow: 1px 1px 15px 1px #ffb55e;
              border-bottom: 7px solid #d8a66c;
            }
            
            &::before,
            &::after {
              content: "";
              width: 50%;
              box-sizing: border-box;
              display: block;
              position: absolute;
              top: -$marker-height;
              border: $marker-height solid transparent;
              border-top-width: 0;
              border-radius: 10px 10px 0 0;
            }
            &::before {
              left: 0;
              border-bottom-color: $box-color;
              border-left-width: 0 ;
            }
            &::after {
              right: 0;
              border-bottom-color: $box-color;
              border-right-width: 0 ;
            }
          }
        }
        form {
          background-color: #ffffff;
          border-radius: 10px;
          color: #000000;
          text-align: center;
          padding: 50px 0;

          h3 {
            font-size: $h3font;
            // max-width: 450px;
            margin: 0 auto;
            margin-bottom:10px;
            line-height: 1.1;
            span {
              color: #ffb55e;
            }
          }

          .botth3 {
            margin-bottom: 50px;
          }
          p {
            max-width: 300px;
            margin: 0  auto;
            line-height: 1.1;
            span {
              display: block;
            }
          }

          .inputbox {
            margin-top: 50px;
            .inputt {
              border-radius: 50px;
              padding: 15px 30px;
              text-align: center;
              margin: 10px 30px;
              border: 1px solid #dadada;
              box-shadow: inset 0px 7px 10px #e4e3e3;
            }
          }

          button {
            margin-top: 50px;
            background-color: #ffb55e;
            border: 0;
            padding: 15px 60px;
            border-radius: 30px;

            // font-family: Roboto-Regular, AdobeInvisFont, MyriadPro-Regular;
            color: rgba(22, 22, 22, 255);
            text-align: left;    

            box-shadow: 1px 1px 15px 1px #ffb55e;
            border-bottom: 7px solid #d8a66c;        
          }
        }
      }

      .ft {
        padding-bottom: 20px;
        padding-top: 10px;

        .col-md-6 {
          p {
            margin: 0;
            color: #e2e2e2e2;
          }
        }
        @media screen and (max-width: 768px) {
          .ft_left,.ft_right {
            text-align: center !important;
          }
        }
        .ft_left {
          text-align: left;
        }

        .ft_right {
          text-align: right;
        }

        .footer_date {
          margin: 0 auto;
          color: #e2e2e2e2;
          opacity: 0.7;
          font-size: 12px;
        }

        @media screen and (max-width: 575px) {
          .ft_right {
            text-align: right;
          }
        }
      }
    }
  }
}