.btn-default {
  top: 25%;
  left:25%; 
  color: #999; 
  background: #fffccc; 
} 

.menu-section {
  background-color: #2a282d;
  background: url('../images/bl_bg.jpg') 100% 100% no-repeat;
  background-size: cover;
  background-position: top;
  color: #ffffff;
  padding: 150px 0 10px 0;

  .container {
    text-align: center;

    .title {
      padding: 50px 0;

      font-size: 40px;
      letter-spacing: 1px;
      //font-family: "Roboto";
    }
    .row {
      .col-md-3 {
        .menu__img {
          border-radius: 50%;
          margin: 0 auto;

          @media screen and (max-width: 1200px) {
            margin: 0 auto;
          }
        }

        button {
          background: linear-gradient(#e1bf1f, #eeda7f);
          border-radius: 25px;
          padding: 10px 30px;
          border: 0;


          font-size: 20px;
          letter-spacing: 1px;
          color: #3f3f3f;
          //font-family: "Roboto";
          font-weight: 400;
        }
      }
    }
    .title-bold {
      font-weight: bold;
    }

    .subtitle {
      padding: 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        padding: 0 25px
      }

      h5 {
        font-size: 30px;
        letter-spacing: 1px;
        color: #ffffff;
        //font-family: "Roboto";
        font-weight: 400;
        text-align: center;
      }
    }

    .menu__components {
      display: inline-block;
      border: 2px;
      border-color: #d9bb31;
      border-style: dashed;
      border-radius: 10px;
      padding: 10px 25px;
      margin-bottom: 110px;

      h2 {
        font-size: 38px;
        letter-spacing: 1px;
        color: #ffffff;
        //font-family: "Roboto";
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 10px;
      }
    }


    .complex {
      font-size: 40px;
      letter-spacing: 1px;
      color: #ffffff;
      //font-family: "Roboto";
      font-weight: 400;
      text-align: center;
    }
    .wrapper {
      padding-top: 50px;
      .row {
        .col-md-6 {
          img {
            margin-top: 50px;
            width: 100%;
            border-radius: 15px;
          }

          p {
            font-size: 24px;
            letter-spacing: 1px;
            color: #ffffff;
            //font-family: "Roboto";
            font-weight: 400;
            text-align: center;
          }
        }
      }
    }

    .menu-button {
      background-color: #ffb55e;
      border-radius: 25px;
      padding: 15px 25px; 
      margin: 50px 0;
      box-shadow: 0 0 10px #ffb55e;
      border: 0;

      background-color: #ffb55e;
      border: 0;
      padding: 15px 60px;
      border-radius: 30px;
      color: #161616;
      text-align: left;
      box-shadow: 1px 1px 15px 1px #ffb55e;
      border-bottom: 7px solid #d8a66c;

      font-size: 24px;
      letter-spacing: 0px;
      color: #292929;
      font-weight: 700;
    }

    .menugallery {
      
    }
  }
}

.true {
  position: relative;
  overflow: hidden;

  .true_img_1 {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 20px;
  }
  .true_img_2 {
    position: absolute;
    width: 120px;
    left: -60px;
    top: 20px;

    @media screen and (max-width: 768px) {
      top: 220px;
    }
  }
  .true_img_3 {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100px;

    @media screen and (max-width: 768px) {
      top: 220px;
    }
  }

  .container {
    text-align: center;

    .title-box {
      margin: 70px auto;

      .display-inline {
        display: inline;
      }

      .display-block {
        display: block;
      }

      p {
        // font-family: Roboto-Regular, Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
        line-height: 1.1;
        color: rgba(44, 44, 44, 255);
        text-align: center;

        font-size: 40px;
        letter-spacing: 1px;
        color: #2c2c2c;
        //font-family: "Roboto";
        font-weight: 400;
        text-align: center;
      }
      span {
        font-weight: bold;
      }
    }

    .truepitbox {
      margin-bottom: 50px;
    }

    .row {
      .col-md-6 {
        .wr-1 {
          padding: 20px;
          .row {
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;
            .col-md-8 {
              width: 200px;
              background-color: #202020;
              overflow: hidden;
              display: flex;
              align-items: center;

              p {
                color: #ffffff;

                font-size: 25px;
                letter-spacing: 1px;
                color: #ffffff;
                
                
                padding: 40px 0;
                padding-left: 30px;
                color: #ffffff;
                font-size: 22px;
                letter-spacing: 1px;
                color: #ffffff;
                text-align: left;
              }
            }

            .col-md-4 {
              width: 200px;
              background-color: #202020;
              overflow: hidden;
              display: flex;
              align-items: center;
              .rak, .fam {
                img {
                  height: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.dostavka {
  background: linear-gradient(to right, #ffb006, #ffe506);
  position: relative;
  padding-bottom: 50px;

  @media screen and (max-width: 768px) {
    padding-bottom: 200px;
  }

  .dost_list {
    position: absolute;
    right: 0;
    top: 30%;
  }
  .dost_car {
    position: absolute;
    bottom: 25px;
    width: 300px;
    width: 470px;
    left: -130px;
  }

  .container {
    .title-box {
      text-align: center;

      span {
        font-weight: bold;
      }
      p {
        display: inline;
        margin: 70px auto;

        line-height: 1.3;
        display: inline;
        margin: 70px auto;
        font-size: 40px;
        letter-spacing: 1px;        
      }
    }

    .row-dost {
      align-items: center;

      .col-md-4 {
        p {
          font-size: 25px;
          letter-spacing: 1px;
          color: #2e2e2e;
        }
      }
      .snbox {
        display:flex;
        justify-content: flex-end;

        .snitem {
          padding: 10px 18px;
          border-radius: 50%;
          color: white;
          opacity: 0.5;
          border: 1px white dashed;
        }
      }
      .netbox {
        border: 1px dotted yellow;
        padding-right: 50px;
        border-radius: 10px;
        
        @media screen and (max-width: 768px) {
          padding-right: 0;
        }

        .marginrow {
          margin: 30px 0;
        }
        .row {
          @media screen and (max-width: 768px) {
            max-width: 100%;
          }
          
          .soc {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 0;

            .socText {
              font-size: 25px;
              letter-spacing: 1px;
              color: #2e2e2e;              
            }
            .soc-img {
              margin-left: 20px;
              width: 75px;
              height: 75px;
              background-color: #ffb55e;
              border-radius: 50%;
              overflow: hidden;
              position: relative;

              @media screen and (max-width: 768px) {
                width: 55px;
                height: 55px;
                margin: 0;
              }
  
              img {
                width: 100%;
                position: absolute;
                top: 30%;
              }
            }
          }
        }
        
      }
    }
  }
}