// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$fb-name: 'fb';
$fb-x: 462px;
$fb-y: 360px;
$fb-offset-x: -462px;
$fb-offset-y: -360px;
$fb-width: 65px;
$fb-height: 49px;
$fb-total-width: 634px;
$fb-total-height: 585px;
$fb-image: '../spritesmith-generated/sprite.png';
$fb: (462px, 360px, -462px, -360px, 65px, 49px, 634px, 585px, '../spritesmith-generated/sprite.png', 'fb', );
$icon-01-name: 'icon_01';
$icon-01-x: 540px;
$icon-01-y: 287px;
$icon-01-offset-x: -540px;
$icon-01-offset-y: -287px;
$icon-01-width: 76px;
$icon-01-height: 71px;
$icon-01-total-width: 634px;
$icon-01-total-height: 585px;
$icon-01-image: '../spritesmith-generated/sprite.png';
$icon-01: (540px, 287px, -540px, -287px, 76px, 71px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_01', );
$icon-011-name: 'icon_011';
$icon-011-x: 360px;
$icon-011-y: 180px;
$icon-011-offset-x: -360px;
$icon-011-offset-y: -180px;
$icon-011-width: 180px;
$icon-011-height: 180px;
$icon-011-total-width: 634px;
$icon-011-total-height: 585px;
$icon-011-image: '../spritesmith-generated/sprite.png';
$icon-011: (360px, 180px, -360px, -180px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_011', );
$icon-02-name: 'icon_02';
$icon-02-x: 540px;
$icon-02-y: 424px;
$icon-02-offset-x: -540px;
$icon-02-offset-y: -424px;
$icon-02-width: 79px;
$icon-02-height: 50px;
$icon-02-total-width: 634px;
$icon-02-total-height: 585px;
$icon-02-image: '../spritesmith-generated/sprite.png';
$icon-02: (540px, 424px, -540px, -424px, 79px, 50px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_02', );
$icon-021-name: 'icon_021';
$icon-021-x: 180px;
$icon-021-y: 180px;
$icon-021-offset-x: -180px;
$icon-021-offset-y: -180px;
$icon-021-width: 180px;
$icon-021-height: 180px;
$icon-021-total-width: 634px;
$icon-021-total-height: 585px;
$icon-021-image: '../spritesmith-generated/sprite.png';
$icon-021: (180px, 180px, -180px, -180px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_021', );
$icon-03-name: 'icon_03';
$icon-03-x: 540px;
$icon-03-y: 358px;
$icon-03-offset-x: -540px;
$icon-03-offset-y: -358px;
$icon-03-width: 67px;
$icon-03-height: 66px;
$icon-03-total-width: 634px;
$icon-03-total-height: 585px;
$icon-03-image: '../spritesmith-generated/sprite.png';
$icon-03: (540px, 358px, -540px, -358px, 67px, 66px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_03', );
$icon-031-name: 'icon_031';
$icon-031-x: 540px;
$icon-031-y: 474px;
$icon-031-offset-x: -540px;
$icon-031-offset-y: -474px;
$icon-031-width: 64px;
$icon-031-height: 52px;
$icon-031-total-width: 634px;
$icon-031-total-height: 585px;
$icon-031-image: '../spritesmith-generated/sprite.png';
$icon-031: (540px, 474px, -540px, -474px, 64px, 52px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_031', );
$icon-04-name: 'icon_04';
$icon-04-x: 0px;
$icon-04-y: 360px;
$icon-04-offset-x: 0px;
$icon-04-offset-y: -360px;
$icon-04-width: 180px;
$icon-04-height: 180px;
$icon-04-total-width: 634px;
$icon-04-total-height: 585px;
$icon-04-image: '../spritesmith-generated/sprite.png';
$icon-04: (0px, 360px, 0px, -360px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_04', );
$icon-05-name: 'icon_05';
$icon-05-x: 180px;
$icon-05-y: 360px;
$icon-05-offset-x: -180px;
$icon-05-offset-y: -360px;
$icon-05-width: 180px;
$icon-05-height: 180px;
$icon-05-total-width: 634px;
$icon-05-total-height: 585px;
$icon-05-image: '../spritesmith-generated/sprite.png';
$icon-05: (180px, 360px, -180px, -360px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_05', );
$icon-06-name: 'icon_06';
$icon-06-x: 0px;
$icon-06-y: 0px;
$icon-06-offset-x: 0px;
$icon-06-offset-y: 0px;
$icon-06-width: 180px;
$icon-06-height: 180px;
$icon-06-total-width: 634px;
$icon-06-total-height: 585px;
$icon-06-image: '../spritesmith-generated/sprite.png';
$icon-06: (0px, 0px, 0px, 0px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_06', );
$icon-07-name: 'icon_07';
$icon-07-x: 180px;
$icon-07-y: 0px;
$icon-07-offset-x: -180px;
$icon-07-offset-y: 0px;
$icon-07-width: 180px;
$icon-07-height: 180px;
$icon-07-total-width: 634px;
$icon-07-total-height: 585px;
$icon-07-image: '../spritesmith-generated/sprite.png';
$icon-07: (180px, 0px, -180px, 0px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_07', );
$icon-08-name: 'icon_08';
$icon-08-x: 360px;
$icon-08-y: 0px;
$icon-08-offset-x: -360px;
$icon-08-offset-y: 0px;
$icon-08-width: 180px;
$icon-08-height: 180px;
$icon-08-total-width: 634px;
$icon-08-total-height: 585px;
$icon-08-image: '../spritesmith-generated/sprite.png';
$icon-08: (360px, 0px, -360px, 0px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_08', );
$icon-09-name: 'icon_09';
$icon-09-x: 0px;
$icon-09-y: 180px;
$icon-09-offset-x: 0px;
$icon-09-offset-y: -180px;
$icon-09-width: 180px;
$icon-09-height: 180px;
$icon-09-total-width: 634px;
$icon-09-total-height: 585px;
$icon-09-image: '../spritesmith-generated/sprite.png';
$icon-09: (0px, 180px, 0px, -180px, 180px, 180px, 634px, 585px, '../spritesmith-generated/sprite.png', 'icon_09', );
$image-01-name: 'image_01';
$image-01-x: 540px;
$image-01-y: 200px;
$image-01-offset-x: -540px;
$image-01-offset-y: -200px;
$image-01-width: 93px;
$image-01-height: 87px;
$image-01-total-width: 634px;
$image-01-total-height: 585px;
$image-01-image: '../spritesmith-generated/sprite.png';
$image-01: (540px, 200px, -540px, -200px, 93px, 87px, 634px, 585px, '../spritesmith-generated/sprite.png', 'image_01', );
$image-02-name: 'image_02';
$image-02-x: 540px;
$image-02-y: 105px;
$image-02-offset-x: -540px;
$image-02-offset-y: -105px;
$image-02-width: 94px;
$image-02-height: 95px;
$image-02-total-width: 634px;
$image-02-total-height: 585px;
$image-02-image: '../spritesmith-generated/sprite.png';
$image-02: (540px, 105px, -540px, -105px, 94px, 95px, 634px, 585px, '../spritesmith-generated/sprite.png', 'image_02', );
$image-03-name: 'image_03';
$image-03-x: 540px;
$image-03-y: 0px;
$image-03-offset-x: -540px;
$image-03-offset-y: 0px;
$image-03-width: 94px;
$image-03-height: 105px;
$image-03-total-width: 634px;
$image-03-total-height: 585px;
$image-03-image: '../spritesmith-generated/sprite.png';
$image-03: (540px, 0px, -540px, 0px, 94px, 105px, 634px, 585px, '../spritesmith-generated/sprite.png', 'image_03', );
$image-04-name: 'image_04';
$image-04-x: 360px;
$image-04-y: 360px;
$image-04-offset-x: -360px;
$image-04-offset-y: -360px;
$image-04-width: 102px;
$image-04-height: 99px;
$image-04-total-width: 634px;
$image-04-total-height: 585px;
$image-04-image: '../spritesmith-generated/sprite.png';
$image-04: (360px, 360px, -360px, -360px, 102px, 99px, 634px, 585px, '../spritesmith-generated/sprite.png', 'image_04', );
$image-05-name: 'image_05';
$image-05-x: 0px;
$image-05-y: 540px;
$image-05-offset-x: 0px;
$image-05-offset-y: -540px;
$image-05-width: 190px;
$image-05-height: 45px;
$image-05-total-width: 634px;
$image-05-total-height: 585px;
$image-05-image: '../spritesmith-generated/sprite.png';
$image-05: (0px, 540px, 0px, -540px, 190px, 45px, 634px, 585px, '../spritesmith-generated/sprite.png', 'image_05', );
$in-name: 'in';
$in-x: 462px;
$in-y: 409px;
$in-offset-x: -462px;
$in-offset-y: -409px;
$in-width: 65px;
$in-height: 49px;
$in-total-width: 634px;
$in-total-height: 585px;
$in-image: '../spritesmith-generated/sprite.png';
$in: (462px, 409px, -462px, -409px, 65px, 49px, 634px, 585px, '../spritesmith-generated/sprite.png', 'in', );
$tw-name: 'tw';
$tw-x: 360px;
$tw-y: 459px;
$tw-offset-x: -360px;
$tw-offset-y: -459px;
$tw-width: 65px;
$tw-height: 49px;
$tw-total-width: 634px;
$tw-total-height: 585px;
$tw-image: '../spritesmith-generated/sprite.png';
$tw: (360px, 459px, -360px, -459px, 65px, 49px, 634px, 585px, '../spritesmith-generated/sprite.png', 'tw', );
$spritesheet-width: 634px;
$spritesheet-height: 585px;
$spritesheet-image: '../spritesmith-generated/sprite.png';
$spritesheet-sprites: ($fb, $icon-01, $icon-011, $icon-02, $icon-021, $icon-03, $icon-031, $icon-04, $icon-05, $icon-06, $icon-07, $icon-08, $icon-09, $image-01, $image-02, $image-03, $image-04, $image-05, $in, $tw, );
$spritesheet: (634px, 585px, '../spritesmith-generated/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
